<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

## Assignment

This tutorial shows how to use the different functions in Jupyter Noetbook

Data science languages:
Python, R, SQL, Java, Julia, Scala, C++, JavaScript, PHP, Go, Ruby, MATLAB, Visual basic

Data science libraries:
Numpy,
Pandas,
Matplotlib,
Seaborn,
Scikit-learn,
Keras,
TensorFlow,
PyTorch,
Apache Spark,
Vegas,
ggplot2,


|Type of Source|Development Environments|Execution Environments|Fully Integrated Visual Tools|Data Management|Data Integration|Data Visualization|Model Deployment|Model Monitoring|Model Building|Fully Integrated Tool|
|--------------|------------------------|----------------------|-----------------------------|---------------|----------------|------------------|----------------|----------------|--------------|--------------------|
|Open Source   |Jupyter |Apache Spark          |KNIME    |MySQL          |Apache Airflow  |Pixie Dust |Apache PredictionIO|ModelDB|||
|              |Jupyterlab |Apache Flink          |    |PostgreSQL     |KubeFlow        |Hue|Seldon|Prometheus|||
|              |Jupyter Notebook |                      |         |MongoDB        |Apache Kafka    |Kibana|Kubernetes|IBM AI Fairness 360|||
|              |Apache Zepplin |                      |            |Apache CouchDB |Apache Nifi     |Apache Superset|Redhat OpenShift|IBM Adeversarial Robustness 360|||
|              |R Studio|                      |              |Apache Cassndra|Apache SparkSQL ||Mleap|IBM AI Explainability 360|||
|              |Spyder |                      |              |Hadoop         |NodeRED         ||TensorFlow Service|||
|              | |                      |                 |Ceph           |||TensorFlow lite|||
|              ||                      |                |Elastic Search |||TensorFlow.JS|||
|Commercial    |                        |                      |                            |Oracle Database  |Informatica PowerCenter|            |               |     |SPSS Modeler|Watson Studio|
|||||Oracle Database|IBM infoSphere DataStage||||SAS Enterprise Miner|Watson Open Scale|
|||||Oracle Database|Microsoft SQL Server|||||
|||||Oracle Database|IBM DB2|||||
|Cloud-Based|||||Informatica Cloud Data Inegration|Datameer||Amazon SageMaker|Watson Machine Learning|Watson Studio|
||||||IBM Data Refinery|IBM Congo Business||||Watson Open Scale|

Examples of Arithmetic operations will be shown below

In [20]:
num_1 = int(input('Enter the first number?\n'))
num_2 = int(input('Enter the second number?\n'))
print(num_1 + num_2)

Enter the first number?
 3
Enter the second number?
 5

8

In [19]:
Minutes = int(input('Enter number of minutes?\n'))
Hours = (Minutes/60)
print(Hours)

enter number of minutes?
 677

11.283333333333333

## Learning Objectives of the tutorial:
Create a Jupyter Notebook with markdown and code cells
<br>List examples of languages, libraries and tools used in Data Science
<br>Share your Jupyter Notebook publicly on GitHub
<br>Evaluate notebooks submitted by your peers using the provided rubric
<br>Demonstrate proficiency in Data Science toolkit knowledge

Created by: Moyou Jermalili Roman Jermalili